.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2{
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

h2{
    text-align: left;
}

p{
    margin: 20px;
    text-align: justify;
}

button{
    display: block;
    margin: 10px 30px;
}