.btn{
    display: inline-block;
    margin: 40px 30px;
}

.descripcion{
    width: 90%;
    margin: 20px auto;
    padding: 20px 10px;

    background:lightcoral;

    border-radius: 10px;
}

.table{
    width: 80%;
    margin: 40px auto;
}

.cabecera th{
    background: #AEB6BF;
}

.cuerpo td{
    font: italic bold 15px Arial ;
}