.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2{
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

span{
    font-weight: bold;
}

p{
    margin: 20px;
    text-align: justify;
}

.btn{
    display: inline-block;
    margin: 40px 30px;
}

.table{
    display: inline-block;
    margin: 40px 20px;
    width: 45%;
}

th{
    text-align: center;
}

#p-ejercicio {
    margin-top: 30px;
    border: 1px solid #8C9193;
    padding: 15px 20px;
}