a{
    display: block;
    width: 100px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

a:hover{
    text-decoration: none;
}

.table{
    width: 60%;
    margin: 30px auto;
}

table th{
    text-align: center;
}