a{
    display: block;
    margin: 10px auto;
    text-align: left;
    width: 100px;
}

a:hover{
    text-decoration: none;
    padding: 5px 10px;
    width: 130px;
}

.table{
    width: 90%;
    margin: 30px auto;
}
