#ejercicio,
.ejercicio1{
    width: 200px;
    height: 200px;

    margin: 40px auto;
    padding: 20px 10px;

    border: 1px solid #CCD1D1;
    border-radius: 10px;
}

#mensaje{
    display: block;

    margin-top: 20px;
    text-align: center;
}