


.recuadro{
    width: 200px;
    height: 200px;

    margin: 30px auto;
    padding: 60px 10px;

    border: 1px solid #000;

    text-align: center;
    background: #A3E4D7;
}

.recuadro-2{
    top: 500px;
    background: #FAD7A0;
}

.recuadro-3{
    width: 150px;
    height: 150px;
}