.col-sm-3{
    margin: 10px auto;

    border: 1px solid #CDD5DB;
    border-radius: 10px;

    box-shadow: 11px 16px 27px -9px rgba(116,111,140,0.72);
}

.btn{
    margin: 20px 40px;
    box-shadow: 11px 16px 27px -9px rgba(116,111,140,0.72);
}

.btn:hover{
    width: 100px;
}

#ejercicio-2{
    display: block;
    width: 600px;

    margin: 30px auto;
    padding: 10px 20px;

    border: 2px solid #87C8F5;
    border-radius: 10px;

    background: #E8EDF0;
    box-shadow: 11px 16px 27px -9px rgba(116,111,140,0.72);
}