.block{
    background: #FEF9E7;

    border: 2px solid #F7DC6F;
    border-radius: 10px;
}

.btn{
    display: inline-block;
    margin: 50px 40px;
}

.parrafo{
    display: block;
    width: 90%;
    margin: 20px auto;
    background: #FBEEE6;

    border: 1px solid #DC7633;
    border-radius: 10px;
}