
.parrafo{
    padding: 0;
}

.parrafo p{
    margin: 10px;
}

a{
    display: block;
    width: 200px;

    margin: 5px 20px;
    padding: 5px 10px;
    
    background: #EAECEE;
    border: 2px solid #2C3E50;

    text-align: left;
    color: #2C3E50;
}

a:hover{
    background: #81D4FA;
    color: #DC7633;
    text-decoration: none;
}