.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2{
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

span{
    font-weight: bold;
}

pre{
    text-align: left;
    margin: 10px 20px;
}

p{
    margin: 20px;
    text-align: justify;
}

a{
    display: block;
    width: 200px;
    padding: 5px 10px;
    text-align: left;
    margin: 5px 20px;
    background-color: #E1F5FE;
    border: 2px solid #CFD8DC;
}

a:hover{
    background-color: #81D4FA;
}