#menu {
    font-family: Arial;
    margin:5px;
}

#menu p {
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    width: 160px;

    padding: 3px;

    background: #f7f8e8;
    border-bottom: 1px solid #eee;

    text-align:center;
}

#menu a:link, #menu a:visited {
    color: #1B4F72;
    text-decoration: none;
}

#menu a:hover {
    background: #1B4F72;
    color: #fff;
}

#info {
    margin: 15px 5px;
    padding: 5px;
    
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    background: #D4E6F1;
    border-width: 0;
    border: 3px solid #2980B9;
}

.btn{
    display: block;
    margin: 20px auto;
}