.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1,
h2{
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

span{
    font-weight: bold;
}

pre{
    text-align: left;
    margin: 10px 20px;
}

p{
    margin: 20px;
    text-align: justify;
}

#menu {
    font-family: Arial;
    margin:5px;
}

#menu p {
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    padding: 3px;
    width: 160px;
    background-color: #f7f8e8;
    border-bottom: 1px solid #eee;
    text-align:center;
}

#menu a:link, #menu a:visited {
    color: #f00;
    text-decoration: none;
}

#menu a:hover {
    background-color: #369;
    color: #fff;
}

#info {
    background-color: #ffc;
    text-align: left;
    font-family: verdana;
    border-width: 0;
    padding: 5px;
    border: 1px solid #fa0;
    margin: 15px 5px;
}

.btn{
    display: block;
    margin: 20px auto;
}