#menu {
    margin:5px;
    font-family: Arial;
    
}

#menu p {
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    width: 140px;

    padding: 3px;

    text-align:center;
    
    background: #EAECEE;
    border-bottom: 1px solid #D0D3D4;
    
}

#menu a:link, #menu a:visited {
    color: #2980B9;
    text-decoration: none;
}

#menu a:hover {
    background: #2980B9;
    color: #F8F9F9;
}

.info {
    margin: 15px 5px;
    padding: 5px;

    background: #F8F9F9;
    border: 2px solid #D0D3D4;

    text-align: center;
    font-family: verdana;
}