
label,
.form-control{
    display: block;
    margin: 20px auto;
    width: 100px;
    font-weight: bolder;
}

.btn{
    display: block;
    margin: 20px auto;
}

.row{
    margin-top: 30px;
}

.table{
    width: 90%;
}