.recuadro{
  background: #EBEDEF;
  font: 14px verdana, sans-serif;

  border: 1px solid #2C3E50;
  border-radius: 10px;
}

.btn{
    display: inline-block;
    width: 150px;
    margin: 40px 20px;
}

/*Horoscopos*/

#menu {
    font-family: Arial;
    margin:5px;
  }
  
  #menu p {
    margin:0px;
    padding:0px;
  }
  
  #menu a {
    display: block;
    padding: 3px;
    width: 160px;
    background: #f7f8e8;
    border-bottom: 1px solid #eee;
    text-align:center;
  }
  
  #menu a:link, #menu a:visited {
    color: #154360;
    text-decoration: none;
  }
  
  #menu a:hover {
    background: #369;
    color: #fff;
  }
  
  #detalles {
    margin:5px;
    padding:5px;
    
    border: 1px solid #fa0;
    border-radius: 15px;
    border-width:0;

    background:#ffc;

    text-align:left;
    font: 14px verdana, sans-serif;
  }